body {
  width: 120px;
  text-align: center;
}

#duration, #login {
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  padding: 0;
}

#duration {
  color: #555555;
}

#login {
  display: none;
}
